@font-face {
 font-family: open-sans-r;
 src: url("../fonts/OpenSans-Regular.woff");
 font-weight: normal;
 font-style: normal;
}

@font-face {
  font-family: open-sans-b;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  display: flex;
  background-image: url("../images/banner-bg.jpg");
  background-color: #666666;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}
.header::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header-information {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

  z-index: 3;
  text-align: center;
}
.header-communication {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}
.logo {
  width: 179px;
}
.menu {
  font-family: open-sans-r, sans-serif;
}
.menu-list {
  display: flex;
  list-style-type: none;
  font-family: open-sans-r, sans-serif;
}
.menu-list-item {
  font-size: 13px;
  padding-left: 31px;
  color: #ffffff; 
  text-decoration: none;
  text-transform: uppercase;
}
.first-heading {
  display: block;
  padding: 105px 220px 202px 220px;
  
  font-family: open-sans-b, sans-serif;
  color: #ffffff;
  font-size: 45px;
  line-height: 1.65;
  text-transform: uppercase;
}

.pagination {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.content {
  display: flex;
  justify-content: space-between;
}
.main-content {
  width: 778px;
  margin-top: 64px;
}

.trends-container {
 width: 100%;
}
.top-section-content {
 display: block;
 margin-top: 55px;
}

.top-section-caption {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  color: #0f0d0e; 
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;

  margin-top: 61px;
  margin-bottom: 26px;
}
.top-section-caption::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 3px;
  margin-top: 28px;
  background: #e1d9bd;
}
.top-section {
display: flex;
justify-content: space-between;
padding-top: 26px;
padding-bottom: 60px;
}

@media (min-width: 1200px) {
.trending-post {
	width: 24.75%;
  height: 20vmax;
 }
}

.trending-post {
  line-height: 1.2;
  text-align: left;
  margin-bottom: 5px;
}
.trending-post::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.6;
  background-color: #000000;
}
.trending-post:nth-child(2),:nth-child(3) {
	margin-right: 4px;
	margin-left: 4px;
}
.trend-post1 {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
  margin-bottom: 5px;
  color: #ffffff;
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/trend1.jpg);
}
.trend-post2 {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
  margin-bottom: 5px;
  color: #ffffff;
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/trend2.jpg);
}
.trend-post3 {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
  margin-bottom: 5px;
  color: #ffffff;
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/trend3.jpg);
}
.trend-post4 {
 position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
  margin-bottom: 5px;
  color: #ffffff;
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/trend4.jpg);
}
.top-wrapper {
  width: 100%;
  max-height: 100%;
  margin: auto 0 0;
  z-index: 1;
  position: relative;
}
.top-contentfull {
  align-self: flex-end;
}
.top-content {
  max-height: 100%;
  margin: 15px 1em;
  padding: 1.1em;
  border: 3px solid #837b3f;
}
.top-content-tegs {
display: flex;
flex-wrap: wrap;
list-style-type: none;
}
.preview-teg {
  margin-bottom: 5px;
}
.preview-meta {
  margin-right: 20px;

}
.preview-teg-link {
text-decoration: none;
color: #b59f5b;
font-family: OpenSans-Bold, sans-serif;
font-size: 14px;
text-transform: uppercase;
}
.trend-header {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .trend-title {
    font-size: 20px;
  }
}
.trend-title {
  line-height: 1.2;
}

.trend-content-title {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  font-family: open-sans-b, sans-serif;
}

.bottom-section-content {
  margin-top: 63px;
}
.product-wrap {
  width: 100%;
  margin: auto;
  position: 0 15px;
}

.last-news-title-bar {
  text-align: center;
  margin-bottom: 0px;
  font-family: open-Sans-Bold, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
}

.bottom-section-caption {
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  color: #000000; 
  text-decoration: none;
  text-transform: uppercase;

  margin-top: 61px;
  margin-bottom: 26px;
}

.last-news-title-bar::after {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 28px;
  content: "";
  width: 64px;
  height: 3px;
  background: #b59f5b;
}
 .bottom-body {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
 }

 @media (min-width: 1200px) {
.bottom-section {
  width: 33.333%;
   }
 }

.bottom-section {
  font-family: OpenSans-Bold, sans-serif;
  margin-right: 112px;
}

.product_imgbox {
 max-width: 300px;
 margin: auto;
}

.product_body {
  width: 100%;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  margin: auto;
  height: 200px;
  position: relative;
  padding-top: 15px;
  box-sizing: content-box;
  max-width: 300px;
  z-index: 0;
 }
 .product_body::before {
  content: "";
  position: absolute;
  width: 100% ;
  height: 100%;
  top: -10%;
  outline: 3px solid #b59f5b;
  outline-offset: 20px;
  z-index: -1;
 }
@media (max-width: 640px) {
  .product_body::before {
    outline-offset: 17px;
  }
 }

.bottom-content {
font-family: OpenSans-Bold, sans-serif;
font-size: 14px;
}
.product-content-title {
font-family: OpenSans-Bold, sans-serif;
margin-top: 0;
margin-bottom: 10px;
font-size: 18px;
line-height: 1.3;
text-transform: uppercase;
}
.preview-title {
  margin-top: 10px;
  font-size: 20px;
}
@media (max-width: 640px){
.preview-title {
    font-size: 16px;
 }
}
.product_description {
font-family: OpenSans-Regular, sans-serif;
font-size: 14px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;

}
.reference {
  text-decoration: none;
  color: #b59f5b;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
}


 .product_footer {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
 }

 .product_prices {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
 }
 .product__price {
  font-size: 24px;
  font-weight: 700;
  color: #222222;
  line-height: 1;
  display: flex;
 }
 .product__price_old {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;
 }
 .product_rub {
  margin-left: .2em; 
}
 .product_button {
  border: none;
  background-color: #b59f5b;
  padding: 1em 1.8em;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
 }
 .button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
 }

 .product-content-title {
  display: flex;
  position: relative;
  
  align-items: center;
  font-family: open-sans-b, sans-serif;
  font-size: 20px;
  color: #0f0d0e; 
  text-decoration: none;
  text-transform: uppercase;

  margin-top: 54px;
  margin-bottom: 15px;
 }

.bottom-content-text {
  font-family: open-sans-b, sans-serif;
  font-size: 15px;
  
  color: #0f0d0e; 
  text-decoration: none;
  
  margin-top: 54px;
  margin-bottom: 15px;
}
.left-section-content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 56px;
}
.wrapper {
  width: 381px;
}
.left-content-picture {
 display: block;
}
.left-content {
  margin-left: 29px; 
  text-align: left;
}
.left-content-tegs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.left-content-teg {
  margin-left: 3px;
  margin-right: 17px;
  color: #b59f5b; 
  text-decoration: none;
  text-transform: uppercase;
}
.content-title {
  flex-wrap: wrap;
  font-family: open-sans-b, sans-serif;
  font-size: 20px;
  line-height: 1.1;
  color: #0f0d0e; 
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.left-content-coordination {
  display: flex;
  margin-top: 23px;
  margin-bottom: 45px;
}
.left-content-time {
  margin-right: 15px;
  font-family: open-sans-r, sans-serif;
  font-size: 12px;
  color: #888888;
}
.unknown-author {
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}
.left-content-text {
  font-family: open-sans-r, sans-serif;
  font-size: 15px;
  line-height: 1.47;
  color: #0f0d0e;
}

.side-content {
 width: 272px;
  margin-top: 60px;
}

.right-section-caption {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: open-sans-b, sans-serif;
  font-size: 8px;
  color: #0f0d0e; 
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.right-section-caption::after {
  position: absolute;
  content: "";
  width: 66px;
  height: 3px;
  margin-top: 28px;
  background: #e1d9bd;
}
.new-post-section {
  margin-top: 41px;
}
.right-mini-section {
  display: flex;
  margin-bottom: 17px;
}
.wrapper-new {
  width: 70px;
}
.new-wrapper-picture{
  display: block;
}

.new-post-content {
  margin-left: 19px; 
  text-align: left;
}
.new-content-time {
  margin-bottom: 5px;
  font-family: open-sans-r, sans-serif;
  font-size: 12px;
  color: #888888;
}
.new-content {
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  color: #0f0d0e; 
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.search-line{
  display: flex;
  margin-top: 55px;
  margin-bottom: 55px;
}
.form-hint{
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.news-field {
  min-width: 222px;
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  
  background-color: #f4f7f6;
 
  font-family: open-sans-r, sans-serif;
  font-size: 13px;
}

.news-field:hover {
  outline-style: none;
}

.news-field:focus {
  outline-style: none;
  border-bottom: 1px solid #ebe7d7;
}
.btn-search {
  height: 48px;
  width: 48px;
  border: none;
  
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  
  cursor: pointer;
}

.btn-search:hover {
  background-color: #323232;
}
.email-field {
  min-width: 100%;
  height: 48px;
  margin-top: 38px;
  margin-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  
  background-color: #f4f7f6;
  
  font-family: open-sans-r, sans-serif;
  font-size: 13px;
}

.email-field:hover {
  outline-style: none;
}

.email-field:focus {
  outline-style: none;
  border-bottom: 1px solid #ebe7d7;
}
.btn-email {
  height: 48px;
  width: 100%;
  margin-bottom: 55px;
  border: none;
  
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  
  background-color: #b59f5b;
  cursor: pointer;
}

.btn-email:hover {
  background-color: #323232;
}

.right-block-keywords {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-bottom: 50px;
  list-style-type: none;
}
.keyword{
  font-family: open-sans-b, sans-serif;
  font-weight: bold;
}
.right-block-keyword {
  display: block;
  font-size: 12px;
  padding: 4px 13px 4px 13px;
  border: 3px solid #eeeeee;
  margin-right: 6px;
  margin-bottom: 6px;
  color: #0f0d0e; 
  text-decoration: none;
  text-transform: uppercase;
}
.hover:hover {
  border: 3px solid #b59f5b;
}
.theme {
  margin-top: 25px;
  list-style-type: none;
}
.theme-element {
  font-family: open-sans-b, sans-serif;
  font-weight: bold;
}
.topic {
  display: flex;
  position: relative;
  font-size: 14px;
  line-height: 3.5;
  color: #000000; 
  text-decoration: none;
}

.topic::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 49px;
  background: #eeeeee;
}

.topic:hover {
  color: #b59f5b; 
}
.superscript {
  font-size: 12px;
  color: #b59f5b;
}

.bottom-part {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 72px;
  background: #f4f7f6;
  list-style-type: none;
}
.icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 14px;
  margin-right: 14px;
  background-color: #f4f7f6;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.twitter {
  background-image: url(../svg/004-twitter.svg);
}

.pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.instagram {
  background-image: url(../svg/005-instagram.svg);
}

.tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright {
  display: block;
  font-family: open-sans-b, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #999999;
  text-decoration: none;
  text-align: center;
  margin-bottom: 39px;
}
